.App {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Container1 {
  margin: 2% 5% 5%;
}

.Container2 {
  margin-right: 5%;
  width: 100%;
}

select {
  padding: 10px;
  border-radius: 5px;
}
